@mixin listformat{
	display: flex;
	list-style: none;
	justify-content: space-between;
	// padding:0;
	li{
		padding:10px;
		margin-bottom: 0px;
	}
	letter-spacing: 2px;

}

@mixin navdesign{
	ul{
		@include listformat;

	}
	
	font-family: $mainfont;
	font-size: 1.2em;
	font-weight: 700;

}

@mixin headerdesign{
	color: #ffffff;
	font-size: 12em;
	font-weight: 700;
	text-align: left;
	padding: 80px;
	padding-top: 50px;
	padding-bottom: 110px;
}


@mixin header2design{
	color: $color1;
	font-size: 5em;
	font-weight: 700;
	text-align: center;
	padding: 80px;
	padding-top: 50px;

}

@mixin footerstyle{
	color: $color1;
	font-size: 4em;
	padding: 40px;
	a:visited{
		color: $color1;
	}
}

@mixin projectdesign{

	ul{
		li{
			color: white;
			background: linear-gradient(45deg, $color2 80%, white 50%);
			margin-bottom: 100px;
			padding-top: 20px;
			padding-bottom: 20px;

			a{
				color: white;
				font-size: 2em;
				font-weight: 600;
			}//a
			img{
				height: 50px;
				
				
			}
		}//li
	}//ul
}



