@mixin listformat{
	display: flex;
	list-style: none;
	justify-content: space-between;
	// padding:0;
	li{
		padding:10px;
		margin-bottom: 0px;
	}
	letter-spacing: 2px;
}

@mixin navdesign{
	ul{
		@include listformat;

	}
	
	font-family: $mainfont;
	font-size: 1.2em;
	font-weight: 700;

}

@mixin headerdesign{
	color: #ffffff;
	font-size: 12em;
	font-weight: 700;
	text-align: left;
	padding: 80px;
	padding-top: 50px;
	




}