// $bkgrd : linear-gradient(90deg, #5111ff 50%, #27d2f4 50%); 
// #5111ff #30ffdc    #2909c6 #fc1173    
$color1:#5111ff;
$color2:#30ffdc;
$bkgrd : linear-gradient(45deg, $color1 50%, $color2 50%);
$mainfont : "Montserrat",sans-serif;
$fontcolor: black;
$hovercolor: $color1;