$icon-layout: horizontal;
@import "icon/*.png";
@include all-icon-sprites;

body{
	text-align: center;
	background-color: gainsboro;
}

.animation {
	// padding-left: 70px;
	// padding-right: 70px;
	margin: 0;
	transform: scale(.75);
	width: 1080px;
	height: 1080px;
	background: url('../img/icon-s7659ab3593.png')left center;
	animation: play 0.4s steps(7) infinite;
}

@keyframes play{
	100% {background-position: -7560px;}
}

